a{
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    color: #2cbdb8;
}
.div-custom>span:hover{
    color: #2cbdb8;
    
}
.div-custom{
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    

}
i{
    color:#2cbdb8;
}
.fa-fount{
    font: normal normal normal 40px FontAwesome;
}
h2{
    color: #2cbdb8;
}
.top-nav .main-menu ul li a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
   
    padding: 20px 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
img{
    width: 75%;
}
.nav-logo .nav-logo-right ul li {
    list-style: none;
    display: inline-block;
    margin-left: 45px;
    padding: 10px 0 10px;
}
.ul-st{
    margin-bottom: 0px !important;
}