<app-navbar-logout ></app-navbar-logout>

<!-- Breadcrumb Section Begin -->

<section class="breadcrumb-section ">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb-text">
                  <h2>FAQ</h2>
                  <div class="breadcrumb-option">
                      <a href="#"><i class="fa fa-home"></i> Home</a>
                      <span>FAQ</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Breadcrumb Section END -->





<div class="container margintop">

  <br />
  <br />

      <div class="card1">


          <div class="container1">
            <div class="row">
              <div class="col-1 textalign">
                <img src="assets/img/fa-question.png" height="50px" width="50px" class=" starimg textalign" alt="...">
              </div>
             
              <div class="col-11 ">
                <a class="textstyle" ng-href="" (click)="isCollapsed1 = !isCollapsed1"
                [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseExample1">
                <h3 class="textstyle">
                  What are the benefits of ordering through an account?
              </h3>
              </a>
     
              </div>
            </div>
            <div id="collapseExample1" [ngbCollapse]="isCollapsed1">
              <div class="card">
                <div class="card-body">
                  You can subscribe to become part of our loyalty program
                  Store credit can be issued in case the article is out of stock/defected, which you can redeem in your next purchase
                  You can also view the order history/ any previous orders placed
                </div>
              </div>
            </div>
          </div>
      
 
  
 

  </div>
  <div class="card1">


    <div class="container1">
      <div class="row">
        <div class="col-1 textalign">
          <img src="assets/img/fa-question.png" height="50px" width="50px" class=" starimg textalign" alt="...">
        </div>
       
        <div class="col-11 ">
          <a class="textstyle" ng-href="" (click)="isCollapsed2 = !isCollapsed2"
          [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseExample2">
          <h3 class="textstyle">
            Can I modify the order?
        </h3>
        </a>

        </div>
      </div>
      <div id="collapseExample2" [ngbCollapse]="isCollapsed2">
        <div class="card">
          <div class="card-body">
            The order placed online cannot be exchanged at any outlet. It has to be sent back within 7 days of the online purchase in case of exchange or defect.
          </div>
        </div>
      </div>
    </div>





</div>
<div class="card1">


  <div class="container1">
    <div class="row">
      <div class="col-1 textalign">
        <img src="assets/img/fa-question.png" height="50px" width="50px" class=" starimg textalign" alt="...">
      </div>
     
      <div class="col-11 ">
        <a class="textstyle" ng-href="" (click)="isCollapsed3 = !isCollapsed3"
        [attr.aria-expanded]="!isCollapsed3" aria-controls="collapseExample3">
        <h3 class="textstyle">
          What is store credit?
      </h3>
      </a>

      </div>
    </div>
    <div id="collapseExample3" [ngbCollapse]="isCollapsed3">
      <div class="card">
        <div class="card-body">
          In case you want your order to be cancelled or if the order is cancelled due to unavailability of articles, your amount will be store credited in your Sana Safinaz account. It’s a balance that you can redeem on your next purchase.
        </div>
      </div>
    </div>
  </div>





</div>
<div class="card1">


  <div class="container1">
    <div class="row">
      <div class="col-1 textalign">
        <img src="assets/img/fa-question.png" height="50px" width="50px" class=" starimg textalign" alt="...">
      </div>
     
      <div class="col-11 ">
        <a class="textstyle" ng-href="" (click)="isCollapsed4 = !isCollapsed4"
        [attr.aria-expanded]="!isCollapsed4" aria-controls="collapseExample4">
        <h3 class="textstyle">
          Can I open the parcel/order at the time of delivery?
      </h3>
      </a>

      </div>
    </div>
    <div id="collapseExample4" [ngbCollapse]="isCollapsed4">
      <div class="card">
        <div class="card-body">
          Customers cannot open up the parcel/order before the delivery of cash to the dispatch team. In case of damage/defect customer should let us know via helpline 021-111-003-005  or email at help.matrix@gmail.com
        </div>
      </div>
    </div>
  </div>





</div>
  </div>
