
<app-navbar-logout ></app-navbar-logout>
<!-- Property Details Hero Section Begin -->
<section class="pd-hero-section set-bg " data-setbg="assets/img/carisol01.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="pd-hero-text">
                    <p class="room-location"><i class="icon_pin"></i>All Over The World</p>
                    <h2>Matrix</h2>
                    <div class="room-price">
                        <span>A Fine Fabric Company</span>
                        <p>Since: 2013</p>
                    </div>
                    <div class="room-price">
                       
                        <span>We care our customers and we deal's in</span>
                    </div>
                    <ul class="room-features">
                        <li>
                            <i class="fa fa-male"></i>
                            <p>Gents Item</p>
                        </li>
                        <li>
                            <i class="fa fa-female"></i>
                            <p>Female Item</p>
                        </li>
                        <li>
                            <i class="fa fa-cog"></i>
                            <p>Accessories</p>
                        </li>
                        <li>
                            <i class="fas fa-shoe-prints"></i>
                            <p>Shoes</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</section>
<img src="assets/img/about/wpu.png" style="margin-top: -35px;">
 
<!-- Property Details Hero Section Begin -->
<section class="contact">
    <div class="container">
        <div class="row">
           
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-7 offset-lg-1">
                        <div class="contact-text">
                            <div class="section-title">
                          
                                <h2></h2>
                            </div>
                            <div>
                               <p><b>Matrix </b>A chain of International retail outlets opened in 2013 across USA providing the latest in trendy and contemporary ready to wear clothing of both western and eastern aesthetic as well as unstitched designs, accessories and footwear.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 contact-text">
                
                <img src="assets/img/carisol01.jpg" style="height: 400px !Important" >
            
            </div>

        </div>
    </div>
</section>
<img src="assets/img/about/wpd.png" >
<!-- Contact Section Begin -->
<section class="contact-section"style="margin-top: -28px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
            <div class="contact-text">
                
                <div style="text-align: center;">
                    <h1>Do It Your Way & Live Unbound</h1>
                   <p>Sana Safinaz is part of SSFR (PVT.) LIMITED. Established in 1989 Sana Safinaz, founded by Sana Hashwani and Safinaz Muneer, is an established fashion label and one of the most prestigious and diversified in Pakistan. Sana Safinaz are true innovators and trailblazers in all their business and creative endeavors and have set the bar high for the business of fashion in Pakistan. Apparel collections include but are not limited to Pret, Diffusion and Bridal Couture lines. Included on the apparel side is the brand’s latest venture in retail. We are the only premier luxury retailer offering elegant ready-to-wear & fashion fabrics, tastefully printed and embroidered along with avant-garde silhouettes for the modern woman.</p>
                    <h3>Self-Reliant. Independent. Sustainable.</h3>
                   <p>In business since 1992, Wholesale Cloth focuses on making clean stuff accessible
                    and affordable to everyone – whether you live off the market, are connected to your Market, or somewhere in between.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->